@{
    ViewData["Title"] = "Home";
}
@if (this.User == null || this.User.Identity == null || this.User.Identity.Name == null || !this.User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>Get started with the Alexa Event Assistant today</h1>
        <p>The Alexa Event Assistant makes corporate events simple. Using an Alexa connected device you can setup an event that Alexa will support. It's simple to use:</p>
        <ul>
            <li>
                <i class="fa fa-globe" aria-hidden="true"></i> Use this website to set up events, and authenticate with your Alexa Device
            </li>
            <li>
                <i class="fa fa-question" aria-hidden="true"></i> You can set up answers to frequently asked questions to get your guests answers quickly
            </li>
            <li>
                <i class="fa fa-address-book-o" aria-hidden="true"></i> If required, you can set up a list of Attendees and Alexa can register them
            </li>
        </ul>
        <p>Before you can get started, you'll need to log in or sign up</p>
        <p><a class="btn btn-primary btn-lg" href="Account/Register" role="button">Sign Up</a><a class="btn btn-lg" href="Account/Login" role="button">Log In</a></p>
    </div>
}
